# Gradle
/.gradle/
# Android SDK
/local.properties
# Kotlin
/.kotlin/
# Gradle Build
/*/build/
# AGP Lint
/build/
# Android Studio Signing APK
/*/debug/
/*/release/
# IntelliJ
/.idea/
# VS Code
/.vscode/
# Keystore
/keystore/
