name: Build

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - docs/**
      - LICENSE
    branches: main
  pull_request:
    branches: main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build with Gradle
        run: |
          ./gradlew assembleRelease --stacktrace
          {
            echo "version=v$(grep versionName version.properties | sed 's/^[^=]*=//')"
            echo "commit=$(echo ${{ github.sha }} | cut -c-7)"
          } >> $GITHUB_ENV

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Dhizuku(${{ env.version }}@${{ env.commit }})
          path: app/build/outputs/apk/release/app-release.apk
